<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jürgen Enge, info-age GmbH Basel">

    <!-- Bootstrap CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>OAI PMH: {{.Name}}</title>
</head>
<body>
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
        <a href="https://github.com/je4/FairService" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">OAI PMH Schnittstelle</span>
        </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{.OAIRepositoryName}}</h1>
            <p class="col-md-8 fs-4">{{.Description}}</p>
            <h2>Default Context</h2>
            <ul>
                <li>Identify: <a href="request?verb=Identify">{{.AddrExt}}/oai/request?verb=Identify</a></li>
                <li>List of Sets: <a href="request?verb=ListSets">{{.AddrExt}}/oai/request?verb=ListSets</a></li>
                <li>List Records: <a href="request?verb=ListRecords&metadataPrefix=oai_dc">{{.AddrExt}}/request?verb=ListRecords&metadataPrefix=oai_dc</a></li>
            </ul>
            <h3>Inhalt</h3>
            <p>Der Kontext "Default" liefert alle Einträge, die frei zugängliche Metadaten oder Volltexte bzw. ein anderes digitales Objekt enthalten</p>

            <h4>Zur Nachnutzung empfohlene Metadatenformate</h4>
            <ul>
                <li>Dublin Core (oai_dc)</li>
                <li>DataCite (oai_datacite)</li>
            </ul>
        </div>
    </div>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>